<header class="inline-elements">
    <div class="custom-head">
        <img 
            src="https://img.asmedia.epimg.net/resizer/tcLApfiBnr0h58MN_-uwRonS4L0=/1472x828/filters:focal(210x136:220x146)/cloudfront-eu-central-1.images.arcpublishing.com/diarioas/ZZKQWI3L7RNVBAMOBPE6PPD7RI.jpg" 
            alt="" 
            class="rounded-img"
            srcset="">
    </div>
    <div class="custom-head-title">
        <h1>Rick y Morty</h1>
    </div>
    <div class="custom-head">
        <mat-slide-toggle
          class="example-margin"
          [color]="color"
          [checked]="checked"
          [disabled]="disabled">
        Slide me!
      </mat-slide-toggle>
    </div>
</header>